


<div class="container">
  
  <div class="row">

    <!-- PAGE BUFFER -->

    <div class="col-xs-2"></div>
    
    <div class="col-xs-8 row">

      <!-- MENU LINKS -->

      <div class="col-md-3">
        <ul>
          <li><%= link_to("View Profile", user_path) %></li>
          <li><%= link_to("Edit Profile", users_edit_path) %></li>
          <li><%= link_to("View Bookings", bookings_path) %></li>
          <li><%= link_to("View Properties", new_property_path) %></li>
          <li><%= link_to("View Rentals", "/") %></li>
        </ul>
      </div>

      

      <div class="col-md-9 row">

        <!-- PROFILE DETAILS -->

          <div class="col-sm-5">
            <%= image_tag(profile_image_link(@current_user)) %>
          </div>
          <div class="col-sm-7">
            <div class="row"><h1>Hi, <%= @current_user.first_name %>!</h1></div>
            <div class="row">
              <p>First Name: <%= @current_user.first_name %></p>
              <p>Last Name: <%= @current_user.last_name %></p>
              <p>Email: <%= @current_user.email %></p>
            </div>
          </div>
        </div>

        <!-- PAGE CONTENTS -->

        <div class="row">
          <h4>Properties:</h4>
          <% @current_user.properties.each do |property| %>
            <div class="col-sm-6 col-md-4">
              <%== property_listing(property) %>
            </div>
          <% end %>
        </div>

      </div>

    </div>

    <!-- PAGE BUFFER -->

    <div class="col-xs-2"></div>

  </div>
      
     

  
      



  
</div>  <!-- container -->








