<%= form_for @property do |f| %>

<p><%= f.label :title %><%= f.text_field :title %></p>
<p><%= f.label :image %><%= f.text_field :image %></p> 
<p><%= f.label :address %><%= f.text_area :address %></p>  

<p>
  <%= f.label :property_type_id %>
  <%= f.select :property_type_id, PropertyType.all.map { |type| [type.name, type.id] }, :include_blank => false %>
</p>

<p><%= f.label :description %><%= f.text_area :description %></p> 

<p><%= f.label :rent %><%= f.number_field :rent %></p> 
<p><%= f.label :beds %><%= f.number_field :beds %></p> 
<p><%= f.label :baths %><%= f.number_field :baths %></p> 
<p><%= f.label :max_people %><%= f.number_field :max_people %></p> 
<p><%= f.label :min_stay %><%= f.number_field :min_stay %></p> 

<p><%= f.label :check_in_time %><%= f.time_field :check_in_time, :value => "16:00:00" %></p> 
<p><%= f.label :check_out_time %><%= f.time_field :check_out_time, :value => "11:00:00" %></p> 

<p>
  <%= f.label :pets %>
  <%= f.select :pets, [["No", false],["Yes", true]], :include_blank => false %>
</p>
<p><%= f.label :user_id %><%= f.text_field :user_id, :value => @current_user.id %></p> 
<p><%= f.label :active %><%= f.text_field :active, :value => true %></p> 

<p><%= f.submit %></p>
<% end %>