<h1>Properties#show</h1>
<p>Find me in app/views/properties/show.html.erb</p>


<h2><%= @property.title %></h2>
<p>Type: <%= @property.property_type.name %></p>
<p><%= @property.street_address %></p>
<p><%= @property.city %></p>
<p><%= @property.state %></p>
<p><%= @property.country %></p>
<p><%= @property.description %></p>
<p>Rent: <%= number_to_currency(@property.rent) %></p>
<p>Beds: <%= @property.beds %></p>
<p>Baths: <%= @property.baths %></p>
<p>Guests: <%= @property.max_people %></p>
<p>Min Stay: <%= @property.min_stay %></p>
<p>Check-in: <%= time_format(@property.check_in_time) %></p>
<p>Check-out: <%= time_format(@property.check_out_time) %></p>
<p>Pets:
  <% if @property.pets %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<%= link_to("Edit Property", edit_property_path) %>
